.button {
  font-family: 'Fjalla One', sans-serif;
  background: $dark-blue;
  border: none;
  color: $light-grey;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--link:hover {
  color: $light-blue;
}

.is-active {
  color: $light-blue;
}

.button--secondary {
  color: $dark-blue;
  background: $light-grey;
}

.button--dashboard {
  background: $white;
  color: $dark-blue;
}

.button--dashboard:hover {
  background: $light-grey;
}
