.header {
  background: $dark-blue;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  font-family: 'Permanent Marker', cursive;
  color: $red;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.header__nav {
  display: inline;
  list-style: none;
}

.header__nav li {
  list-style: none;
  display: inline;
}